.intro {
	text-align: center;
	font-family: 'Roboto', helvetica;
	font-weight: 500;
}

#board {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	border-spacing: 0px;
}

.square {
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 5em;
	font-family: 'Roboto', helvetica;
	font-weight: 900;
	color: gray;
}

.sides {
	border-left: 10px solid black;
	border-right: 10px solid black;
}

.tb {
	border-top: 10px solid black;
	border-bottom: 10px solid black;
}


