.heading {
	font-size: 1.5em;
	text-align: center;
}

.square {
	height: 200px;
	width: 200px;
	border-radius: 5px;
	float: right;
}

.first-quad {
	margin-left: 344px;
	margin-top: 61px;
	border-right-style: solid;
	border-bottom-style: solid;
}

.second-quad {
	margin-left: 547px;
	margin-top: -203px;
	border-bottom-style: solid;
	border-right-style: solid;
}

.third-quad {
	margin-left: 750px;
	margin-top: -203px;
	border-bottom-style: solid;
}

.fourth-quad {
	margin-left: 748px;
	border-bottom-style: solid;
	border-left-style: solid;
}

.fifth-quad {
	margin-left: 545px;
	margin-top: -203px;
	border-bottom-style: solid;
	border-left-style: solid;
}

.sixth-quad {
	margin-left: 345px;
	margin-top: -203px;
	border-bottom-style: solid;
}

.seventh-quad {
	margin-left: 748px;
	border-left-style: solid;
}

.eighth-quad {
	margin-left: 545px;
	margin-top: -200px;
	border-left-style: solid;
}

.ninth-quad {
	margin-left: 345px;
	margin-top: -200px;
}